<div class="panel panel-default">
    <div class="panel-heading">
        <strong>用户详情</strong>
    </div>
    <form class="form-horizontal">
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>个人信息</strong>
                </div>
                <div class="panel-body">
                    <div class="row pd-bottom-20">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4 word-spacing-25 pd-right-10">ID</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-value="vm.user.id" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4 word-spacing-25 pd-right-10">姓&emsp;&emsp;名</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-value="vm.user.name ? vm.user.name : '未填写'" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4 word-spacing-25 pd-right-10">身份证号</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-value="vm.user.idNo" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pd-bottom-20">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4 word-spacing-25 pd-right-10">手机号</label>
                                <div class="phone-input-wrap">
                                    <input type="text" class="form-control phone-input" numberic max-length="11" ng-model="vm.user.mobile"  ng-disabled="vm.phoneModifyFlag">
                                    <div class="mobile-btn-group">
                                        <button class="btn btn-warning  phone-btn" ng-show="vm.phoneModifyFlag" ng-click="vm.modifyPhone()">修改</button>
                                        <button class="btn btn-danger  phone-btn" ng-show="!vm.phoneModifyFlag" ng-click="vm.cancelModifyPhone()">取消</button>
                                        <button class="btn btn-success  phone-btn" ng-show="!vm.phoneModifyFlag" ng-click="vm.savelModifyPhone()">保存</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4 word-spacing-25 pd-right-10">注册时间</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-value="vm.user.createAt|date:'yyyy-MM-dd'" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 row-btn-group">
                            <a class="btn btn-primary btn-margin margin-7 inline-block" ui-sref="field.patientTestData({pid:vm.user.id})">检测数据</a>
                            <a class="btn btn-primary btn-margin margin-7 inline-block" ui-sref="field.patientRecord({pid:vm.user.id})">订单记录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row  pd-bottom-20">
                <div class="col-md-4">
                    <button class="btn btn-warning" onclick="javascript:{window.history.go(-1)}">返回</button>
                </div>
            </div>
        </div>
    </form>

</div>