<div class="panel panel-default">
    <form class="form-horizontal">
        <div class="panel-body">
            <div class="row pd-bottom-20">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4 word-spacing-25">手&ensp;机&ensp;号</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">提交日期</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" size="20" bs-datepicker autoclose="true"
                                    data-date-format="yyyy-MM-dd" data-date-type="number"
                                    data-max-date="{{vm.searchParams.endAt}}"
                                    ng-model="vm.searchParams.startAt">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4 text-center ">—</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" size="20" bs-datepicker autoclose="true"
                                    data-date-format="yyyy-MM-dd" data-date-type="number"
                                    ng-model="vm.searchParams.endAt" data-min-date="{{vm.searchParams.startAt}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pd-bottom-20">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4 word-spacing-25">姓&emsp;&emsp;名</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4 word-spacing-25">APP</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="vm.searchParams.status">
                                <option value="">全部</option>
                                <option value="2">已认证</option>
                                <option value="1">未认证</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pd-bottom-2">
                <div class="col-md-4 pull-right text-right">
                    <search params="vm.searchParams"></search>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>意见反馈</strong>
        <div class="btn-group pull-right">
            <button class="btn btn-primary btn-xs" ui-sref="field.opinionDetails" ui-sref-opts="{reload:true}" href="#/messageEdit">
                <i class="fa fa-plus-square fa-fw"></i>新增
            </button>
        </div>
    </div>
    <div class="panel-body table-responsive">
        <table class="table table-striped add-table-border">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>手机号</th>
                    <th>姓名</th>
                    <th>APP</th>
                    <th>提交时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.opinion track by $index">
                    <td>{{item.id}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.APP|appVersionFilter}}</td>
                    <td>{{item.commitAt}}</td>
                    <td>
                        <a  type="button" class="btn btn-sm">编辑</a>
                        <a  type="button" class="btn btn-sm text-red">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <pagination ng-if="vm.total" total="{{vm.total}}"></pagination>
</div>

