<div class="panel panel-default">
    <div class="panel-heading white">
        <strong>参数设置</strong>
    </div>
    <div class="panel-body table-responsive">
        <div class="panel panel-default">
            <div class="panel-heading white">
                <strong class="f_redline">价格设置</strong>
            </div>
            <div class="panel-body table-responsive grey">
                <div class="f_marginleft">方案价格 <input type="text" class="form-control f_inputbox"> （元）</div>
            </div>
        </div>
        <button class="btn btn-success f_btnpadding" ng-click="vm.f_save()">保存</button>
        <button class="btn btn-info f_btnpadding">还原</button>
    </div>
</div>
