
<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="f-redline">版本管理</strong>
    </div>
    <div class="panel-body  panel-body-noMax">
        <strong>患者端</strong>
        <div class="divTable">
            <div class="divTableHeading">
                <div class="divTableHead">平台类型</div>
                <div class="divTableHead">版本名称</div>
                <div class="divTableHead">版本号</div>
                <div class="divTableHead">强制更新</div>
                <div class="divTableHead">安装包URL</div>
                <div class="divTableHead">版本信息</div>
                <div class="divTableHead">操作</div>
            </div>
            <div class="divTableBody">
                <!--<div class="divTableRow" ng-repeat="item in vm.approvedList track by $index">-->
                    <!--<div class="divTableCell handle">{{item.approvedId}}</div>-->
                    <div class="divTableCell">
                        <!--<div >{{item.time|date:'yyyy-MM-dd'}}</div>-->
                        <!--<div >{{item.time|date:'HH:mm:ss'}}</div>-->
                    </div>
                    <!--<div  class="divTableCell">{{item.telphone}}</div>-->
                    <!--<div  class="divTableCell">{{item.name}}</div>-->
                    <!--<div  class="divTableCell">{{item.number}}</div>-->
                    <!--<div class="text-red divTableCell" ng-class="{'text-green':item.status==0}">{{item.status|approvedListStatusFilter}}</div>-->
                    <div  class="divTableCell">
                        <a type="button" class="btn btn-sm" ui-sref="field.versionUpdate">更新</a>
                    </div>
                <!--</div>-->
            <!--</div>-->
        </div>
        <strong>医师端</strong>
        <div class="divTable">
            <div class="divTableHeading">
                <div class="divTableHead">平台类型</div>
                <div class="divTableHead">版本名称</div>
                <div class="divTableHead">版本号</div>
                <div class="divTableHead">强制更新</div>
                <div class="divTableHead">安装包URL</div>
                <div class="divTableHead">版本信息</div>
                <div class="divTableHead">操作</div>
            </div>
            <!--<div class="divTableBody">-->
                <!--<div class="divTableRow" ng-repeat="item in vm.approvedList track by $index">-->
                    <!--<div class="divTableCell handle">{{item.approvedId}}</div>-->
                    <!--<div class="divTableCell">-->
                        <!--<div >{{item.time|date:'yyyy-MM-dd'}}</div>-->
                        <!--<div >{{item.time|date:'HH:mm:ss'}}</div>-->
                    <!--</div>-->
                    <!--<div  class="divTableCell">{{item.telphone}}</div>-->
                    <!--<div  class="divTableCell">{{item.name}}</div>-->
                    <!--<div  class="divTableCell">{{item.number}}</div>-->
                    <!--<div class="text-red divTableCell" ng-class="{'text-green':item.status==0}">{{item.status|approvedListStatusFilter}}</div>-->
                    <!--<div  class="divTableCell">-->
                        <!--<span>-->
                            <!--<a  type="button" class="btn btn-sm" ng-if="item.status==0">医师详情</a>-->
                            <!--<a  type="button" class="btn btn-sm" ng-if="item.status==1">审核</a>-->
                        <!--</span>-->
                        <!--<a type="button" class="btn btn-sm" ui-sref="field.approvedDetails({id:item.approvedId})">查看</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <pagination ng-if="vm.total" total="{{vm.total}}"></pagination>
</div>

