<div class="panel panel-default">
    <div class="panel-heading">
        <strong>更新</strong>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="myform">
            <div class="form-group">
                <label class="col-md-2 control-label">APP</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="f-messageTitle" ng-model="vm.data.app" maxlength="500" ng-class="{'error':myform.f-messageTitle.$invalid && myform.f-messageTitle.$touched}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">平台类型</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="f-messageTitle" ng-model="vm.data.platform" maxlength="500" ng-class="{'error':myform.f-messageTitle.$invalid && myform.f-messageTitle.$touched}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">版本名称</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="f-messageTitle" ng-model="vm.data.versionName" maxlength="500" ng-class="{'error':myform.f-messageTitle.$invalid && myform.f-messageTitle.$touched}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">版本号</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="f-messageTitle" ng-model="vm.data.versionId" maxlength="500" ng-class="{'error':myform.f-messageTitle.$invalid && myform.f-messageTitle.$touched}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">安装包URL</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="f-messageTitle" ng-model="vm.data.url" maxlength="500" ng-class="{'error':myform.f-messageTitle.$invalid && myform.f-messageTitle.$touched}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">版本信息</label>
                <div>
                    <div class="col-md-10">
                        <div class="row form-group" ng-repeat="x in vm.data.info track by $index">
                            <div class="col-md-10 col-xs-10 f-short">
                                <input class="form-control" type="text" name="f-messageTitle" ng-model="vm.data.info[$index]" maxlength="500" ng-class="{'error':myform.f-messageTitle.$invalid && myform.f-messageTitle.$touched}">
                            </div>
                            <div class="col-md-2 col-xs-2 f-min80">
                                <button ng-click="vm.addTag()">+</button>
                                <button ng-click="vm.deleteTag($index)">-</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">强制更新</label>
                <div class="col-md-8">
                    <input type="radio" name="force" value="1" ng-model="vm.data.forceUpdate">是 <input type="radio" name="force" ng-model="vm.data.forceUpdate" value="0">否
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <button type="button" class="btn btn-success" ng-click="vm.send() " ng-disabled="!myform.$valid">发送
                    </button>
                    <button type="button" class="btn btn-default" ui-sref="field.versionManagement">取消</button>
                </div>
            </div>
        </form>
    </div>
</div>