
<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="f-redline">版本管理</strong>
    </div>
    <div class="panel-body  panel-body-noMax">
        <strong>患者端</strong>
        <div class="divTable">
            <div class="divTableHeading">
                <div class="divTableHead">平台类型</div>
                <div class="divTableHead">版本名称</div>
                <div class="divTableHead">版本号</div>
                <div class="divTableHead">强制更新</div>
                <div class="divTableHead">安装包URL</div>
                <div class="divTableHead">版本信息</div>
                <div class="divTableHead">操作</div>
            </div>
            <div class="divTableBody">
                <div class="divTableRow" ng-repeat="item in vm.patient track by $index">
                    <div class="divTableCell handle">{{item.platform}}</div>
                    <div  class="divTableCell">{{item.versionName}}</div>
                    <div  class="divTableCell">{{item.versionId}}</div>
                    <div  class="divTableCell">{{item.forceUpdate}}</div>
                    <div  class="divTableCell">{{item.url}}</div>
                    <div  class="divTableCell">{{item.info}}</div>
                    <div  class="divTableCell">
                        <a type="button" class="btn btn-sm" ui-sref="field.versionUpdate({id:vm.patient[$index].id})">更新</a>
                    </div>
                </div>
            </div>
        </div>
        <strong>医师端</strong>
        <div class="divTable">
            <div class="divTableHeading">
                <div class="divTableHead">平台类型</div>
                <div class="divTableHead">版本名称</div>
                <div class="divTableHead">版本号</div>
                <div class="divTableHead">强制更新</div>
                <div class="divTableHead">安装包URL</div>
                <div class="divTableHead">版本信息</div>
                <div class="divTableHead">操作</div>
            </div>
            <div class="divTableBody">
                <div class="divTableRow" ng-repeat="item in vm.doctor track by $index">
                    <div class="divTableCell handle">{{item.platform}}</div>
                    <div  class="divTableCell">{{item.versionName}}</div>
                    <div  class="divTableCell">{{item.versionId}}</div>
                    <div  class="divTableCell">{{item.forceUpdate}}</div>
                    <div  class="divTableCell">{{item.url}}</div>
                    <div  class="divTableCell">{{item.info}}</div>
                    <div  class="divTableCell">
                        <a type="button" class="btn btn-sm" ui-sref="field.versionUpdate({id:vm.doctor[$index].id})">更新</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pagination ng-if="vm.total" total="{{vm.total}}"></pagination>
</div>

