.pickadate-weeks {
    margin: 0 auto;
    overflow: auto;
    top: 0.5rem;
    left: 0;
    right: 0;
    background: #fff;
    border-bottom: 1px solid #F6F6F6;
}

.pickadate-week {
    float: left;
    width: 14.285%;
    line-height: 2rem;
    text-align: center;
}

.pickadate-top {
    margin-top: 2rem;
}

.pickadate-header {
    position: relative;
    text-align: center;
    /*line-height: 2.8rem;*/
}

.pickadate-header h3 {
    font-size: 1.4rem;
}

.pickadate-header ul {
    overflow: auto;
    *zoom: 1;
    width: 100%;
}

.pickadate-header li {
    float: left;
    width: 14.285%;
    color: #333;
    line-height: 26px;
    font-size: 13px;
}

.pickadate-bg {
    background: #EDF2F5;
}

.pickadate-main {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}

.week {
    width: 100%;
}

.week.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.pickadate-head {
    margin: 0 auto;
    background: #077AB9;
    border-bottom: 1px solid #006098;
    overflow: hidden;
    text-align: center;
}

.pickadate-head li {
    float: left;
    width: 14.285%;
    color: #fff;
    line-height: 26px;
    font-size: 13px;
}

.pickadate-cell {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    border-top: 1px solid #C6CFD6;
}

.pickadate-cell li {
    display: block;
    float: left;
    width: 14.285%;
    font-size: 12px;
}

.pickadate-cell li div {
    padding-top: 10px;
    border-bottom: 1px solid #C6CFD6;
    height: 60px;
    padding-bottom: 80px;
}

.pickadate-cell li b {
    font-size: 24px;
    line-height: 16px;
    color: #2E3136;
    display: block;
}

.pickadate-cell li span {
    display: block;
    font-size: 12px;
    line-height: 12px;
    margin-top: 12px;
    color: #757C84;
}

.pickadate-cell .pickadate-disabled b {
    color: #ADBAC2;
}

.pickadate-cell .pickadate-hide {
    /*background: #EDF2F5;*/
}

.pickadate-cell .pickadate-hide b {
    color: #EDF2F5;
}

.pickadate-cell .pickadate-hide span {
    color: #EDF2F5;
}

.pickadate-cell .pickadate-enabled {
    background: #FEFEFE;
    cursor: pointer;
}

.pickadate-cell .pickadate-active {
    background: #b5d7e8;
}

.pickadate-cell .pickadate-active b {
    color: #fff;
}

.pickadate-cell .pickadate-active span {
    color: #fff;
}

.pickadate-cell .pickadate-active {
    color: white;
}

.pickadate-cell .pickadate-selected {
    background: #a4c6d7;
    /*border: 1px solid #7d96a5;*/
}

.pickadate-cell .pickadate-selected b {
    color: #fff;
}

.pickadate-cell .pickadate-selected span {
    color: #fff;
}

.pickadate-cell .pickadate-selected {
    color: white;
}

.pickadate-cell .pickadate-head {
    border-top: 1px solid #DCDCDC;
    background: #E5F0F6;
    color: #3d586b;
    font-weight: bold;
}

.pickadate-centered-heading {
    font-weight: normal;
    text-align: center;
    font-size: 1.4rem;
    margin: 0;
    line-height: 60px;
    color: #9ca9b2;
}
.special{
    display: inline-block;
    margin: 0 2%;
}

.pickadate-centered-heading span {
    color: #0580c4;
}

.pickadate-controls {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.pickadate-controls .pickadate-next {
    float: right;
}

.pickadate-controls a {
    text-decoration: none;
    font-size: 0.9em;
}

.load-more {
    text-align: center;
    line-height: 45px;
    font-size: 14px;
}