<div class="panel panel-default">
    <div class="panel-heading">
        <strong ng-if="!vm.params.id">新增</strong> <strong ng-if="vm.params.id">编辑</strong>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="myform">
            <div class="form-group">
                <label class="col-md-2 control-label">标题名称</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="f-messageTitle" ng-model="vm.params.title" maxlength="500" ng-class="{'error':myform.f-messageTitle.$invalid && myform.f-messageTitle.$touched}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label word-spacing-25">作者</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="f-messageTitle" ng-model="vm.params.title" maxlength="500" ng-class="{'error':myform.f-messageTitle.$invalid && myform.f-messageTitle.$touched}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label word-spacing-25">URL</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="f-messageTitle" ng-model="vm.params.title" maxlength="500" ng-class="{'error':myform.f-messageTitle.$invalid && myform.f-messageTitle.$touched}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label word-spacing-25">摘要</label>
                <div class="col-md-8">
                    <textarea class="form-control" type="text" ng-model="vm.params.content" maxlength="25" name="f-message" ng-class="{'error':myform.f-message.$invalid && myform.f-message.$touched}" required></textarea>
                </div>
            </div>
            <div class="form-group" ng-if="vm.params.type!=='4'">
                <label class="col-md-2 control-label">正文</label>
                <div class="col-md-8 editor">
                    <script type="text/html" ng-model="vm.helpContent" required meta-umeditor
                            emit-name="emitCreateDaily"
                            meta-umeditor-placeholder='编辑日报内容...' meta-umeditor-config="vm.dailyConfig"></script>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <button type="button" class="btn btn-success" ng-click="vm.send() " ng-disabled="!myform.$valid">发送
                    </button>
                    <button type="button" class="btn btn-success" ng-click="vm.saveArticle()" ng-disabled="!myform.$valid">存为草稿
                    </button>
                    <button type="button" class="btn btn-default pull-right" ui-sref="field.messageList">取消</button>
                </div>
            </div>
        </form>
    </div>
</div>