<div class="panel panel-default">
    <div class="panel-heading">
        <strong ng-if="!vm.data.id">新增</strong> <strong ng-if="vm.data.id">编辑</strong>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="myform">
            <div class="form-group">
                <label class="col-md-2 control-label">标题名称</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="content" ng-model="vm.data.title" maxlength="25" ng-class="{'error':myform.content.$invalid && myform.content.$touched}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label word-spacing-25">作者</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="content" ng-model="vm.data.author" maxlength="14" ng-class="{'error':myform.content.$invalid && myform.content.$touched}" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label word-spacing-25">URL</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="content" ng-model="vm.data.url" maxlength="500" ng-class="{'error':myform.content.$invalid && myform.content.$touched}" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label word-spacing-25">配 图</label>
                <div class="col-md-8 padding-0">
                    <div class="col-md-12 ">
                        <label class="btn btn-primary" for="file2">选择文件</label>
                        <input id="file2"
                                style="display: none"
                                type="file"
                                nv-file-select
                                uploader="vm.uploader1"
                                accept="image/*"
                        />
                    </div>
                    <div class="col-md-12">
                        <img ng-src="{{vm.data.img}}" alt="配图预览" class="img-responsive">
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive col-md-12 padding-0">
                            <table class="table">
                                <thead>
                                    <th>图片名</th>
                                    <th>文件大小</th>
                                    <th>进度</th>
                                    <th>操作</th>
                                    <th>操作</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.uploader1.queue track by $index" class="ng-scope"
                                            ng-if="$first">
                                        <td><strong class="ng-binding">{{item.file.name}}</strong></td>
                                        <td ng-show="vm.uploader1.isHTML5" nowrap="" class="ng-binding">{{
                                            item.file.size/1024/1024 | number:2 }} MB
                                        </td>
                                        <td ng-show="vm.uploader1.isHTML5">
                                            <div class="progress" style="margin-bottom: 0;">
                                                <div class="progress-bar" role="progressbar"
                                                        ng-style="{ 'width': item.progress + '%' }"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                                <span ng-show="item.isSuccess"><i
                                                        class="glyphicon glyphicon-ok"></i></span>
                                            <span ng-show="item.isCancel"><i
                                                    class="glyphicon glyphicon-ban-circle"></i></span>
                                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                        </td>
                                        <td nowrap="">
                                            <button type="button" class="btn btn-success btn-xs"
                                                    ng-click="item.upload()"
                                                    ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                <span class="glyphicon glyphicon-upload"></span> 上传
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs"
                                                    ng-click="item.remove(); vm.clearImg()">
                                                <span class="glyphicon glyphicon-trash"></span> 删除
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label word-spacing-25">摘要</label>
                <div class="col-md-8">
                    <textarea class="form-control" type="text" ng-model="vm.data.summary" maxlength="25" name="content" ng-class="{'error':myform.content.$invalid && myform.content.$touched}" ></textarea>
                </div>
            </div>
            <div class="form-group" ng-if="vm.data.type!=='4'">
                <label class="col-md-2 control-label">正文</label>
                <div class="col-md-8 editor">
                    <script type="text/html" ng-model="vm.data.content"  meta-umeditor
                            emit-name="emitCreateDaily" id="myEditor"
                            meta-umeditor-placeholder='编辑日报内容...' meta-umeditor-config="vm.dailyConfig"></script>

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <button type="button" class="btn btn-success" ng-click="vm.send(1) " ng-disabled="!myform.$valid">发送
                    </button>
                    <button type="button" class="btn btn-success" ng-click="vm.send(2)" ng-disabled="!myform.$valid">存为草稿
                    </button>
                    <button type="button" class="btn btn-default pull-right" ng-click="vm.cancel()">取消</button>
                </div>
            </div>
        </form>
    </div>
</div>