<div class="panel panel-default">
    <form class="form-horizontal">
        <div class="panel-body">
            <div class="row pd-bottom-20">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4 word-spacing-25">标&emsp;&emsp;题</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">创建日期</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" size="20" bs-datepicker autoclose="true" data-date-format="yyyy-MM-dd" data-date-type="number" data-max-date="{{vm.searchParams.endAt}}" ng-model="vm.searchParams.startAt">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4 text-center ">—</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" size="20" bs-datepicker autoclose="true" data-date-format="yyyy-MM-dd" data-date-type="number" ng-model="vm.searchParams.endAt" data-min-date="{{vm.searchParams.startAt}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pd-bottom-20">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4 word-spacing-25">创&ensp;建&ensp;者</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4 word-spacing-25">作&emsp;&emsp;者</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="vm.searchParams.status">
                                <option value="">全部</option> <option value="2">已认证</option>
                                <option value="1">未认证</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4 word-spacing-25">状态</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="vm.searchParams.status">
                                <option value="">全部</option> <option value="2">已认证</option>
                                <option value="1">未认证</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pd-bottom-2">
                <div class="col-md-4 pull-right text-right">
                    <search params="vm.searchParams"></search>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>内容管理</strong>
        <div class="btn-group pull-right">
            <button class="btn btn-primary btn-xs" ui-sref="field.contentEdit" ui-sref-opts="{reload:true}" href="#/messageEdit">
                <i class="fa fa-plus-square fa-fw"></i>新增
            </button>
        </div>
    </div>
    <div class="panel-body table-responsive">
        <table class="table table-striped add-table-border">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>标题</th>
                    <th>作者</th>
                    <th>状态</th>
                    <th>创建者</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.content track by $index">
                    <td>{{item.id}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.author}}</td>
                    <td>{{item.status|contentListStatusFilter}}</td>
                    <td>{{item.createBy}}</td>
                    <td>{{item.createAt}}</td>
                    <td>
                        <a ng-if="item.status=='0'" type="button" class="btn btn-sm text-green" ng-click="vm.online()">上线</a>
                        <a ng-if="item.status=='1'" type="button" class="btn btn-sm text-red" ng-click="vm.offline()">下线</a>
                        <a type="button" class="btn btn-sm">编辑</a>
                        <a type="button" class="btn btn-sm text-red">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <pagination ng-if="vm.total" total="{{vm.total}}"></pagination>
</div>

