<div class="row pd-top-2">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-body">
                <form name="datepickerForm" class="form-inline" role="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>角色</label>
                                <select class="form-control" ng-model="vm.rid">
                                    <option ng-repeat="role in vm.roleList" ng-value="role.id">{{role.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row pd-top-2">
                        <div class="col-md-12">
                            <button class="btn btn-primary pull-right" ng-click="vm.search()">搜索</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                管理员列表
                <div class="btn-group pull-right">
                    <button class="btn btn-primary btn-xs" ui-sref="field.managerDetail">
                        <i class="fa fa-plus-square fa-fw"></i>新增用户
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>用户名</th>
                        <th>角色</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="li in vm.list">
                        <td>{{li.id}}</td>
                        <td>{{li.name}}</td>
                        <td>{{li.role.name}}</td>
                        <td>
                            <!--<button class="btn btn-primary btn-xs" ui-sref="field.managerCheck({id:li.id})">查看</button>-->
                            <button class="btn btn-success btn-xs" ui-sref="field.managerDetail({id:li.id})">编辑</button>
                            <button class="btn btn-danger btn-xs" ng-click="vm.delete(li.id)">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!--分页-->
                <pagination ng-if="vm.total" total="{{vm.total}}"></pagination>

            </div>
        </div>
    </div>
</div>
