<div class="row pd-top-2">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                角色编辑
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="rolename" class="col-sm-2 control-label">角色名</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="rolename" placeholder="role name"
                                           ng-model="vm.name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">权限</label>

                                <div class="col-sm-10">
                                    <ul class="role-tree">
                                        <li ng-repeat="list in vm.selectList">
                                            <label>
                                                <input type="checkbox" ng-model="list.change" ng-click="vm.changeModule($index)">{{list.name}}
                                            </label>

                                            <div class="checkbox margin-left-20" ng-repeat="li in list.nodes">
                                                <label>
                                                    <input type="checkbox"
                                                           ng-checked="vm.selectList[$parent.$index].nodes[$index].use==true"
                                                           ng-click="vm.changeSubModule(vm.selectList[$parent.$index].nodes[$index].use,$parent.$index)"
                                                           ng-model="vm.selectList[$parent.$index].nodes[$index].use">{{li.name}}
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <button class="btn btn-success" ng-click="vm.saveOrUpdate()">保存</button>
                        <button class="btn btn-danger" ui-sref="field.role">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
