<div class="panel panel-default">
    <div class="panel-heading">
        <strong>诊断详情</strong>
    </div>
    <form class="form-horizontal">
        <div class="panel-body">

            <div class="panel-body">
                <div class="row pd-bottom-20">
                    <div class="col-md-12">

                        <div class="form-group">
                            <label class="control-label col-md-1 word-spacing-25 pd-right-10">患者手机</label>
                            <div class="col-md-11">
                                <input type="text" class="form-control" ng-value="vm.patient.mobile" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1 word-spacing-25 pd-right-10">方案名称</label>
                            <div class="col-md-11">
                                <input type="text" class="form-control" ng-value="vm.diagnosisDetails.name" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1 word-spacing-25 pd-right-10">疗&emsp;&emsp;程</label>
                            <div class="col-md-11">
                                <input type="text" class="form-control" ng-value="vm.diagnosisDetails.treatment" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1 word-spacing-25 pd-right-10">时&emsp;&emsp;长</label>
                            <div class="col-md-11">
                                <input type="text" class="form-control" ng-value="vm.diagnosisDetails.duration" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1 word-spacing-25 pd-right-10">强&emsp;&emsp;度</label>
                            <div class="col-md-11">
                                <input type="text" class="form-control" ng-value="vm.diagnosisDetails.strength" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1 word-spacing-25 pd-right-10">间&emsp;&emsp;隔</label>
                            <div class="col-md-11">
                                <input type="text" class="form-control" ng-value="vm.diagnosisDetails.time" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1 word-spacing-25 pd-right-10">探&emsp;&emsp;头</label>
                            <div class="col-md-11">
                                <input type="text" class="form-control" ng-value="vm.diagnosisDetails.probe" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1 word-spacing-25 pd-right-10">诊断结论</label>
                            <div class="col-md-11">
                                    <textarea class="form-control" ng-model="vm.diagnosisDetails.conclusion" cols="33" rows="12" disabled>

                                    </textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-offset-1">


                    <!--<button class="btn btn-warning btn-margin" onclick="javascript:{window.history.go(-1);}">-->
                    <button class="btn btn-warning btn-margin"
                            ui-sref="field.diagnosisRecord({did:vm.searchParams.did})" ui-sref-opts="{reload:true}">
                        返回
                    </button>
                </div>
            </div>

        </div>
    </form>
</div>