<div class="form-horizontal">
    <div class="panel panel-default">
        <form class="form-horizontal">
            <div class="panel-body">
                <div class="row pd-bottom-20">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">发送日期</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control"
                                       size="20" bs-datepicker autoclose="true"
                                       data-date-format="yyyy-MM-dd" data-date-type="number"
                                       data-max-date="today"
                                       ng-model="vm.searchParams.createFrom">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4 text-center ">—</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" size="20" bs-datepicker autoclose="true"
                                       data-date-format="yyyy-MM-dd" data-date-type="number"
                                       data-max-date="today"
                                       ng-model="vm.searchParams.createTo">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">方案名称</label>
                            <div class="col-md-8">
                                <input class="form-control"
                                       type="text"
                                       ng-model="vm.searchParams.name">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pd-bottom-20">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">患者手机</label>
                            <div class="col-md-8">
                                <input numberic
                                       class="form-control"
                                       type="text"
                                       maxlength="11"
                                       ng-model="vm.searchParams.mobile">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12 text-right ">
                        <search params="vm.searchParams" time-fix-arr="vm.timeFixArr"></search>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{vm.detailData.name}}的诊断记录</strong>
            </div>

            <div class="list-replace" ng-if="vm.programRelationList.length == 0">
                <div class="list-replace-text">暂无任何数据</div>
            </div>

            <div class="panel-body panel-body-noMax" ng-if="vm.programRelationList.length != 0">
                <div class="divTable">
                    <div class="divTableHeading">
                        <div class="divTableHead">发送日期</div>
                        <div class="divTableHead">方案名称</div>
                        <div class="divTableHead">患者手机</div>
                        <div class="divTableHead">疗程</div>
                        <div class="divTableHead">时长</div>
                        <div class="divTableHead">强度</div>
                        <div class="divTableHead">间隔</div>
                        <div class="divTableHead">探头</div>
                        <div class="divTableHead">操作</div>
                    </div>

                    <div class="divTableBody">
                        <div class="divTableRow" ng-repeat="info in vm.programRelationList track by $index">
                            <div class="divTableCell handle">
                                <!--为undefined时不显示-->
                                <span ng-if="info.createAt === 0 || info.createAt">
                                    {{info.createAt|date:'yyyy-MM-dd'}}
                                </span>
                            </div>
                            <div class="divTableCell">{{info.name}}</div>
                            <div class="divTableCell">{{vm.patient[info.pid].mobile}}</div>
                            <div class="divTableCell">{{info.treatment}}</div>
                            <div class="divTableCell">{{info.duration}}</div>
                            <div class="divTableCell">{{info.strength}}</div>
                            <div class="divTableCell">{{info.time}}</div>
                            <div class="divTableCell">{{info.probe}}</div>

                            <div class="divTableCell company-tableCell-fix">
                                <a class="text-blue btn btn-sm company-a-fix"
                                   ui-sref="field.diagnosisDetails({id:info.id,did:vm.searchParams.did})">
                                    查看
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <pagination ng-if="vm.total" total="{{vm.total}}"></pagination>
            </div>
        </div>
    </div>
</div>