<div class="form-horizontal">
    <div class="panel panel-default">
        <form class="form-horizontal">
            <div class="panel-body">
                <div class="row pd-bottom-20">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">评价日期</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" size="20" bs-datepicker autoclose="true"
                                       data-date-format="yyyy-MM-dd" data-date-type="number"
                                       data-max-date="today"
                                       ng-model="vm.searchParams.createFrom">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4 text-center ">—</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" size="20" bs-datepicker autoclose="true"
                                       data-date-format="yyyy-MM-dd" data-date-type="number"
                                       ng-model="vm.searchParams.createTo" data-max-date="today">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">手机号</label>
                            <div class="col-md-8">
                                <input class="form-control"
                                       type="text"
                                       ng-model="vm.searchParams.mobile">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pd-bottom-20">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">姓&emsp;&emsp;名</label>
                            <div class="col-md-8">
                                <input class="form-control"
                                       type="text"
                                       ng-model="vm.searchParams.name">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4 word-spacing-25">评星</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="vm.searchParams.star">
                                    <option value="">全部</option>
                                    <option value="5">5星</option>
                                    <option value="4">4星</option>
                                    <option value="3">3星</option>
                                    <option value="2">2星</option>
                                    <option value="1">1星</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-right ">
                        <search params="vm.searchParams" time-fix-arr="vm.timeFixArr" ></search>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{vm.detailData.name}}的患者评价</strong>
            </div>

            <div class="list-replace" ng-if="vm.commentList.length == 0">
                <div class="list-replace-text">暂无任何数据</div>
            </div>

            <div class="panel-body panel-body-noMax" ng-if="vm.commentList.length != 0">
                <div class="divTable">
                    <div class="divTableHeading">
                        <div class="divTableHead">序号</div>
                        <div class="divTableHead">手机号</div>
                        <div class="divTableHead">姓名</div>
                        <div class="divTableHead">评价</div>
                        <div class="divTableHead">评价时间</div>
                        <div class="divTableHead">操作</div>
                    </div>

                    <div class="divTableBody">
                        <div class="divTableRow" ng-repeat="info in vm.commentList track by $index">
                            <div class="divTableCell handle">{{$index+1}}</div>
                            <div class="divTableCell">{{vm.userList[info.id].mobile}}</div>
                            <div class="divTableCell">{{vm.userList[info.id].name}}</div>
                            <div class="divTableCell">{{info.star}}星</div>
                            <div class="divTableCell">{{info.commentAt|date:'yyyy-MM-dd'}}</div>

                            <div class="divTableCell company-tableCell-fix">

                                <a class="btn btn-sm company-a-fix"
                                   ui-sref="field.appraisalDetails({id:info.id,did:vm.searchParams.did})"
                                   ui-sref-opts="{reload:true}">
                                    查看
                                </a>

                                <a class="text-red btn btn-sm company-a-fix"
                                    ng-click="vm.deleteComment(info.id)">
                                    删除
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <pagination ng-if="vm.total" total="{{vm.total}}"></pagination>
            </div>
        </div>
    </div>
</div>