<div class="form-horizontal">
    <div class="panel panel-default">
        <form class="form-horizontal">
            <div class="panel-body">
                <div class="row pd-bottom-20">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">创建日期</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" size="20" bs-datepicker autoclose="true"
                                       data-date-format="yyyy-MM-dd" data-date-type="number"
                                       ng-model="vm.searchParams.createFrom"
                                       data-max-date="today">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4 text-center ">—</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" size="20" bs-datepicker autoclose="true"
                                       data-date-format="yyyy-MM-dd" data-date-type="number"
                                       data-max-date="today"
                                       ng-model="vm.searchParams.createTo" >
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4 text-center ">方案名称</label>
                            <div class="col-md-8">
                                <input class="form-control"
                                       type="text"
                                       ng-model="vm.searchParams.name">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pd-bottom-20">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">使用人数</label>
                            <div class="col-md-8">
                                <input numberic class="form-control"
                                       type="text"
                                       maxlength="19"
                                       ng-model="vm.searchParams.countFrom">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4 text-center ">—</label>
                            <div class="col-md-8">
                                <input class="form-control"
                                       numberic
                                       type="text"
                                       maxlength="19"
                                       ng-model="vm.searchParams.countTo">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12 text-right ">

                        <!--<div>-->
                            <!--<button type="button"  class="btn btn-danger" ng-click="vm.clean()">清空</button>-->
                            <!--<button type="button" class="btn btn-success" ng-click="vm.search()">搜索</button>-->
                        <!--</div>-->


                        <search params="vm.searchParams" time-fix-arr="vm.timeFixArr"></search>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{vm.detailData.name}}的方案模板</strong>
            </div>

            <div class="list-replace" ng-if="vm.templateList.length == 0">
                <div class="list-replace-text">暂无任何数据</div>
            </div>

            <div class="panel-body panel-body-noMax" ng-if="vm.templateList.length != 0">
                <div class="divTable">
                    <div class="divTableHeading">
                        <div class="divTableHead">创建日期</div>
                        <div class="divTableHead">方案名称</div>
                        <div class="divTableHead">疗程</div>
                        <div class="divTableHead">时长</div>
                        <div class="divTableHead">强度</div>
                        <div class="divTableHead">间隔</div>
                        <div class="divTableHead">探头</div>
                        <div class="divTableHead">使用人数</div>
                    </div>

                    <div class="divTableBody">
                        <div class="divTableRow" ng-repeat="plan in vm.templateList track by $index">
                            <div class="divTableCell handle">{{plan.templateAt|date:'yyyy-MM-dd'}}</div>
                            <div class="divTableCell">{{plan.name}}</div>
                            <div class="divTableCell">{{plan.treatment}}</div>
                            <div class="divTableCell">{{plan.duration}}</div>
                            <div class="divTableCell">{{plan.strength}}</div>
                            <div class="divTableCell">{{plan.time}}</div>
                            <div class="divTableCell">{{plan.probe}}</div>
                            <div class="divTableCell">{{plan.count}}</div>
                        </div>
                    </div>


                </div>
                <pagination ng-if="vm.total" total="{{vm.total}}"></pagination>
            </div>
        </div>
    </div>
</div>