<div class="form-horizontal">
    <div class="panel panel-default">
        <form class="form-horizontal">
            <div class="panel-body">
                <div class="row pd-bottom-20">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">交易日期</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" size="20" bs-datepicker autoclose="true"
                                       data-date-format="yyyy-MM-dd" data-date-type="number"
                                       data-max-date="today"
                                       ng-model="vm.searchParams.payStartAt">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4 text-center ">—</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" size="20" bs-datepicker autoclose="true"
                                       data-date-format="yyyy-MM-dd" data-date-type="number"
                                       ng-model="vm.searchParams.payEndAt" data-max-date="today">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4 word-spacing-25">交易状态</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="vm.searchParams.status">
                                    <option value="">全部</option>
                                    <option value="-1">订单失效</option>
                                    <option value="0">付款失败</option>
                                    <option value="1">付款成功</option>
                                    <option value="2">待付款</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pd-bottom-20">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">交易金额</label>
                            <div class="col-md-8">
                                <input class="form-control"
                                       type="text"
                                       ng-model="vm.searchParams.amountStart">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4 text-center ">—</label>
                            <div class="col-md-8">
                                <input class="form-control"
                                       type="text"
                                       ng-model="vm.searchParams.amountEnd">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4 word-spacing-25">交易类型</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="vm.searchParams.type">
                                    <option value="">全部</option>
                                    <option value="0">方案提现</option>
                                    <option value="1">方案出售</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-12 text-right ">
                        <search params="vm.searchParams" time-fix-arr="vm.timeFixArr"></search>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{vm.detailData.name}}的交易明细</strong>
            </div>

            <div class="list-replace" ng-if="vm.transactionDetails.length == 0">
                <div class="list-replace-text">暂无任何数据</div>
            </div>

            <div class="panel-body panel-body-noMax" ng-if="vm.transactionDetails.length != 0">
                <div class="divTable">
                    <div class="divTableHeading">
                        <div class="divTableHead">序号</div>
                        <div class="divTableHead">交易时间</div>
                        <div class="divTableHead">交易流水</div>
                        <div class="divTableHead">交易金额（元）</div>
                        <div class="divTableHead">交易类型</div>
                        <div class="divTableHead">交易状态</div>
                        <div class="divTableHead">交易方式</div>
                    </div>

                    <div class="divTableBody">
                        <div class="divTableRow" ng-repeat="deal in vm.transactionDetails track by $index">
                            <div class="divTableCell handle">{{$index}}</div>
                            <div class="divTableCell">{{deal.orderAt|date:'yyyy-MM-dd'}}</div>
                            <div class="divTableCell">{{deal.orderNo}}</div>
                            <!--保留两位小数-->
                            <div class="divTableCell">{{deal.amount.toFixed(2)}}</div>
                            <div class="divTableCell">{{deal.type|dealTypeFilter}}</div>
                            <div class="divTableCell">{{deal.status|dealStatusFilter}}</div>
                            <div class="divTableCell">{{deal.way}}</div>

                        </div>
                    </div>
                </div>
                <pagination ng-if="vm.total" total="{{vm.total}}"></pagination>
            </div>
        </div>
    </div>
</div>