@import (reference)"zxxg";
.f_inputbox{
  display:inline;
  margin:0 10px;
  width:200px;
  vertical-align:middle;
}
.f_redline{
  .pl10;
  border-left:3px solid red;
}
.f_marginleft{
  .ml15;
}
.f_btnpadding{
  .mr20;
  padding:6px 20px;
}
.f_indent{
  text-indent:1.2em;
}