@import (reference)"zxxg";
.f-inputbox{
  display:inline;
  margin:0 10px;
  width:200px;
  vertical-align:middle;
}
.f-redline{
  .pl10;
  border-left:3px solid red;
}
.f-marginleft{
  .ml15;
}
.f-btnpadding{
  .mr20;
  padding:6px 20px;
}
.f-indent{
  text-indent:1.2em;
}
.f-short{
  width:calc(100% - 20px);
}
.f-lineheight{
  margin:10px 0;
}
.f-min80{
  min-width:80px;
}