<div class="panel panel-default">
    <div class="panel-heading">
        <strong>认证详情</strong>
    </div>
    <form class="form-horizontal">
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong class="f-redline">个人信息</strong>
                </div>
                <div class="panel-body">
                    <div class="row pd-bottom-20">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4 word-spacing-25 pd-right-10">ID</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="vm.data.approvedId" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4 word-spacing-25 pd-right-10">姓名</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="vm.data.name" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4 word-spacing-25 pd-right-10">身份证号</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="vm.data.IdCardNumber" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pd-bottom-20">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4 word-spacing-25 pd-right-10">手机号</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="vm.data.telphone" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4 word-spacing-25 pd-right-10">注册时间</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-value="vm.data.creatAt|date:'yyyy-MM-dd'" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong class="f-redline">认证信息</strong>
                </div>
                <div class="panel-body">
                    <div class="row pd-bottom-20">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4 word-spacing-25 pd-right-10">医院</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="vm.data.hospital" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4 word-spacing-25 pd-right-10">职称</label>
                                <div class="col-md-8">
                                    <select class="form-control" ng-model="vm.data.positionalTitle" ng-options="x.type as x.name for x in vm.positionalTitle" disabled>
                                        <option value="">全部</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4 word-spacing-25 pd-right-10">医师资格证号</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="vm.data.number" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <label  class="control-label col-md-2 word-spacing-25 pd-right-10"><span>医师执业证书</span></label>
                        <div class="col-md-5" ng-repeat = "index in vm.data.image track by $index">
                            <div class="form-group">
                                <div class="approvedImageDiv">
                                    <img class="approvedImage" ng-src = "{{index}}" alt="职业证书照片">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pd-bottom-20">
                        <label class="control-label col-md-2 word-spacing-25">拒绝/取消理由</label>
                        <div class="col-md-4">
                            <textarea class="form-control" ng-model="vm.data.reason" cols="33" rows="3" disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pd-left-50">
                <button class="btn btn-info btn-margin" ng-click="vm.check()" ng-disabled="vm.data.status!==1">审核</button>
                <button class="btn btn-warning btn-margin" ui-sref="field.approvedList">返回</button>
            </div>
        </div>
    </form>

    </div>
</div>