<div class="panel panel-default">
    <form class="form-horizontal">
        <div class="panel-body">
            <div class="row pd-bottom-20">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4 word-spacing-25">手机号码</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="vm.searchParams.telphone" >
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4 word-spacing-25">真实姓名</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="vm.searchParams.name">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4 word-spacing-25">认证状态</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="vm.searchParams.status">
                                <option value="">全部</option>
                                <option value="2">已认证</option>
                                <option value="1">未认证</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pd-bottom-20">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">申请日期</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" size="20" bs-datepicker autoclose="true"
                                   data-date-format="yyyy-MM-dd" data-date-type="number"
                                   ng-model="vm.searchParams.startAt">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4 text-center ">—</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" size="20" bs-datepicker autoclose="true"
                                   data-date-format="yyyy-MM-dd" data-date-type="number"
                                   ng-model="vm.searchParams.endAt" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pd-bottom-2">
                <div class="col-md-4 pull-right text-right">
                    <search params="vm.searchParams"></search>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>认证列表</strong>
    </div>
    <div class="list-replace" ng-if="vm.approvedList.length == 0">
        <div class="list-replace-text">暂无任何数据</div>
    </div>
    <div class="panel-body  panel-body-noMax" ng-if="vm.approvedList.length != 0">
        <div class="divTable">
            <div class="divTableHeading">
                <div class="divTableHead">ID</div>
                <div class="divTableHead">申请时间</div>
                <div class="divTableHead">手机号</div>
                <div class="divTableHead">姓名</div>
                <div class="divTableHead">医师资格证号</div>
                <div class="divTableHead">认证状态</div>
                <div class="divTableHead">拒绝/取消理由</div>
                <div class="divTableHead">操作</div>
            </div>
            <div class="divTableBody">
                <div class="divTableRow" ng-repeat="item in vm.approvedList track by $index">
                    <div class="divTableCell handle">{{item.approvedId}}</div>
                    <div class="divTableCell">
                        <div >{{item.time|date:'yyyy-MM-dd'}}</div>
                        <div >{{item.time|date:'HH:mm:ss'}}</div>
                    </div>
                    <div  class="divTableCell">{{item.telphone}}</div>
                    <div  class="divTableCell">{{item.name}}</div>
                    <div  class="divTableCell">{{item.number}}</div>
                    <div class="text-red divTableCell" ng-class="{'text-green':item.status==0}">{{item.status|approvedListStatusFilter}}</div>
                    <div class="divTableCell">{{item.reason|approvedListReasonFilter}}</div>
                    <div  class="divTableCell" >
                        <span>
                            <a  type="button" class="btn btn-sm" ng-if="item.status==0" ui-sref="field.doctorDetails({id:item.id})">医师详情</a>
                            <a  type="button" class="btn btn-sm" ng-if="item.status==1" ng-click="vm.check(item.id)">审核</a>
                        </span>
                        <a type="button" class="btn btn-sm" ui-sref="field.approvedDetails({id:item.approvedId})">查看</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pagination ng-if="vm.total" total="{{vm.total}}" default-page="4"></pagination>
</div>

