<div class="panel panel-default">
    <form class="form-horizontal">
        <div class="panel-body">
            <div class="row pd-bottom-20">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4 word-spacing-25">医院名称</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="vm.searchParams.telphone" >
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4 word-spacing-25">等级</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="vm.searchParams.status">
                                <option value="">全部</option>
                                <option value="1">三甲</option>
                                <option value="2">二甲</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4 word-spacing-25">状态</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="vm.searchParams.status">
                                <option value="">全部</option>
                                <option value="1">在用</option>
                                <option value="2">停用</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pd-bottom-20">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">医师人数</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4 text-center ">~</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pd-bottom-20">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-2 word-spacing-25">省</label>
                        <div class="col-md-10">
                            <city-select select-result="vm.searchParams.address"></city-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pd-bottom-2">
                <div class="col-md-4 pull-right text-right">
                    <search params="vm.searchParams"></search>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>合作医院列表</strong>
        <button ng-if="permision.creat" type="button" class="btn btn-xs btn-success pull-right margin-left-10" ui-sref="field.hospitalEdit">
            +新增
        </button>
    </div>
    <div class="panel-body  panel-body-noMax" ng-if="vm.approvedList.length != 0">
        <div class="divTable">
            <div class="divTableHeading">
                <div class="divTableHead">医院名称</div>
                <div class="divTableHead">省</div>
                <div class="divTableHead">市</div>
                <div class="divTableHead">等级</div>
                <div class="divTableHead">医师人数</div>
                <div class="divTableHead">地址</div>
                <div class="divTableHead">状态</div>
                <div class="divTableHead">操作</div>
            </div>
            <div class="divTableBody">
                <div class="divTableRow" ng-repeat="item in vm.approvedList track by $index">
                    <div class="divTableCell handle">{{item.approvedId}}</div>
                    <div class="divTableCell">
                        <div >{{item.time|date:'yyyy-MM-dd'}}</div>
                        <div >{{item.time|date:'HH:mm:ss'}}</div>
                    </div>
                    <div  class="divTableCell">{{item.telphone}}</div>
                    <div  class="divTableCell">{{item.name}}</div>
                    <div  class="divTableCell">{{item.number}}</div>
                    <div class="text-red divTableCell" ng-class="{'text-green':item.status==0}">{{item.status|approvedListStatusFilter}}</div>
                    <div class="divTableCell">{{item.reason|approvedListReasonFilter}}</div>
                    <div  class="divTableCell">
                        <span>
                            <a  type="button" class="btn btn-sm">上下线</a>
                            <a  type="button" class="btn btn-sm" ui-sref="field.hospitalEdit({id:item.approvedId})">编辑</a>
                        </span>
                        <a type="button" class="btn btn-sm" ui-sref="field.hospitalDoctor({id:item.approvedId})">医师</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pagination ng-if="vm.total" total="{{vm.total}}"></pagination>
</div>