<div class="panel panel-default">
    <form class="form-horizontal">
        <div class="panel-body">
            <div class="row pd-bottom-20">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">发布时间</label>
                    </div>

                    <div class="col-md-8">
                        <input type="text" class="form-control" size="20" bs-datepicker autoclose="true"
                               data-date-format="yyyy-MM-dd" data-date-type="number"
                               data-max-date="{{vm.searchParams.endAt}}"
                               ng-model="vm.searchParams.startAt">
                    </div>
                </div>


            </div>
        </div>
    </form>
</div>